interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/bobbyfischer/games/archives
  response:
    body:
      string: '{"archives":["https://api.chess.com/pub/player/bobbyfischer/games/2023/10","https://api.chess.com/pub/player/bobbyfischer/games/2023/11","https://api.chess.com/pub/player/bobbyfischer/games/2023/12","https://api.chess.com/pub/player/bobbyfischer/games/2024/01","https://api.chess.com/pub/player/bobbyfischer/games/2024/02","https://api.chess.com/pub/player/bobbyfischer/games/2024/03","https://api.chess.com/pub/player/bobbyfischer/games/2024/04","https://api.chess.com/pub/player/bobbyfischer/games/2024/05","https://api.chess.com/pub/player/bobbyfischer/games/2024/08","https://api.chess.com/pub/player/bobbyfischer/games/2025/05"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bd6a306176473d6598387b7abefb3fca"
      last-modified:
      - Thursday, 01-Oct-2026 21:02:44 GMT+0000
      link:
      - <https://api.chess.com/context/GameArchives.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-ingress-pool:
      - k8s-prod-fpm-catch-all
      x-chesscom-matched:
      - pubapi_player_games_archives
      x-chesscom-meta:
      - lean=published
      x-chesscom-request-id-cdn:
      - a43e68f738f3c8b1-IAD
      x-chesscom-request-id-lb:
      - 8122395af79d1fd71afb8b735a5909bd
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/bobbyfischer/games/2023/11
  response:
    body:
      string: '{"games":[{"url":"https://www.chess.com/game/live/82042479562","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2023.11.01\"]\n[Round \"-\"]\n[White
        \"Jivitesh2011\"]\n[Black \"bobbyfischer\"]\n[Result \"0-1\"]\n[CurrentPosition
        \"r1b1kbnr/ppp4p/6p1/3Bpq2/3n4/1PNQB3/P1P2PPP/R3K1NR w KQkq -\"]\n[Timezone
        \"UTC\"]\n[ECO \"C25\"]\n[ECOUrl \"https://www.chess.com/openings/Vienna-Game-Max-Lange-Defense-3.Bc4\"]\n[UTCDate
        \"2023.11.01\"]\n[UTCTime \"13:04:17\"]\n[WhiteElo \"168\"]\n[BlackElo \"134\"]\n[TimeControl
        \"600\"]\n[Termination \"bobbyfischer won on time\"]\n[StartTime \"13:04:17\"]\n[EndDate
        \"2023.11.01\"]\n[EndTime \"13:14:58\"]\n[Link \"https://www.chess.com/game/live/82042479562\"]\n\n1.
        e4 {[%clk 0:09:57]} 1... e5 {[%clk 0:09:59.6]} 2. Nc3 {[%clk 0:09:55.4]} 2...
        Nc6 {[%clk 0:09:57]} 3. Bc4 {[%clk 0:09:52]} 3... Qe7 {[%clk 0:09:54.5]} 4.
        d4 {[%clk 0:09:48.4]} 4... f5 {[%clk 0:09:51.1]} 5. exf5 {[%clk 0:09:39.5]}
        5... Nxd4 {[%clk 0:09:44.8]} 6. Qf3 {[%clk 0:09:17.9]} 6... Qf7 {[%clk 0:09:43.3]}
        7. Qd3 {[%clk 0:08:56.1]} 7... Qf6 {[%clk 0:09:35.5]} 8. b3 {[%clk 0:08:53.4]}
        8... d5 {[%clk 0:09:30.2]} 9. Be3 {[%clk 0:08:51.3]} 9... g6 {[%clk 0:09:25.1]}
        10. Bxd5 {[%clk 0:08:45]} 10... Qxf5 {[%clk 0:09:24]} 0-1\n","time_control":"600","end_time":1698844498,"rated":true,"tcn":"mC0Kbs5QfA70lB1LCLQBdv01vt1TjrZJcu2UAJTL","uuid":"2699b5e3-78b7-11ee-99eb-bbdf9701000f","initial_setup":"rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR
        w KQkq - 0 1","fen":"r1b1kbnr/ppp4p/6p1/3Bpq2/3n4/1PNQB3/P1P2PPP/R3K1NR w
        KQkq -","time_class":"rapid","rules":"chess","white":{"rating":168,"result":"timeout","@id":"https://api.chess.com/pub/player/jivitesh2011","username":"Jivitesh2011","uuid":"c89c6c08-262a-11ed-9256-990316462489"},"black":{"rating":134,"result":"win","@id":"https://api.chess.com/pub/player/bobbyfischer","username":"bobbyfischer","uuid":"da3f20b4-6ceb-11ee-8b9e-5d2fae29a296"},"eco":"https://www.chess.com/openings/Vienna-Game-Max-Lange-Defense-3.Bc4"},{"url":"https://www.chess.com/game/live/82067860216","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2023.11.04\"]\n[Round \"-\"]\n[White
        \"bobbyfischer\"]\n[Black \"LoserLogi\"]\n[Result \"1-0\"]\n[CurrentPosition
        \"r1b1kbnr/ppp2ppp/8/3Pn3/8/8/PPPP1PPP/R1BQKB1R b KQkq -\"]\n[Timezone \"UTC\"]\n[ECO
        \"C46\"]\n[ECOUrl \"https://www.chess.com/openings/Three-Knights-Opening\"]\n[UTCDat[...]
