interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/chessbumper/games/archives
  response:
    body:
      string: '{"archives":["https://api.chess.com/pub/player/chessbumper/games/2014/08"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8af23c9f68df390861fa4343c0c52b3f"
      last-modified:
      - Thursday, 01-Oct-2026 20:42:16 GMT+0000
      link:
      - <https://api.chess.com/context/GameArchives.jsonld>; rel="http://www.w3.org/ns/json-ld#context";
        type="application/ld+json"
      x-chesscom-ingress-pool:
      - k8s-prod-fpm-catch-all
      x-chesscom-matched:
      - pubapi_player_games_archives
      x-chesscom-meta:
      - lean=published
      x-chesscom-request-id-cdn:
      - a43e4af9a8126d93-IAD
      x-chesscom-request-id-lb:
      - 202b9e0cd74a55a76c637550a4379f4b
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.chess.com/pub/player/chessbumper/games/2014/08
  response:
    body:
      string: '{"games":[{"url":"https://www.chess.com/game/live/881215753","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2014.08.07\"]\n[Round \"-\"]\n[White
        \"chessbumper\"]\n[Black \"kyivpilotvlad\"]\n[Result \"0-1\"]\n[CurrentPosition
        \"rnb1k1nr/pppp1ppp/8/2b5/2P2PP1/3P4/PP1BBq1P/RN1QK1NR w KQkq -\"]\n[Timezone
        \"UTC\"]\n[ECO \"A20\"]\n[ECOUrl \"https://www.chess.com/openings/English-Opening-Kings-English-Variation-2.d3\"]\n[UTCDate
        \"2014.08.07\"]\n[UTCTime \"21:39:49\"]\n[WhiteElo \"1057\"]\n[BlackElo \"1272\"]\n[TimeControl
        \"600\"]\n[Termination \"kyivpilotvlad won by checkmate\"]\n[StartTime \"21:39:49\"]\n[EndDate
        \"2014.08.07\"]\n[EndTime \"21:45:17\"]\n[Link \"https://www.chess.com/game/live/881215753\"]\n\n1.
        d3 {[%clk 0:10:00]} 1... e5 {[%clk 0:10:00]} 2. c4 {[%clk 0:09:57]} 2... Bc5
        {[%clk 0:09:47.6]} 3. f3 {[%clk 0:09:49.6]} 3... Qh4+ {[%clk 0:09:41.5]} 4.
        g3 {[%clk 0:07:20.9]} 4... Qd4 {[%clk 0:09:08.7]} 5. e3 {[%clk 0:07:12.5]}
        5... Qd6 {[%clk 0:08:54.5]} 6. Bd2 {[%clk 0:07:07.9]} 6... Bb4 {[%clk 0:08:45.2]}
        7. f4 {[%clk 0:06:59]} 7... exf4 {[%clk 0:08:40.1]} 8. exf4 {[%clk 0:06:55.6]}
        8... Bc5 {[%clk 0:08:20.7]} 9. Be2 {[%clk 0:06:48.5]} 9... Qd4 {[%clk 0:08:17.1]}
        10. g4 {[%clk 0:06:29]} 10... Qf2# {[%clk 0:08:08.2]} 0-1\n","time_control":"600","end_time":1407447917,"rated":true,"tcn":"lt0KkA9Inv7FowFBmuBRclIzvDKDuDzIfmRBwEBn","uuid":"d81fe85a-fd0f-11de-8000-000000010001","initial_setup":"rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR
        w KQkq - 0 1","fen":"rnb1k1nr/pppp1ppp/8/2b5/2P2PP1/3P4/PP1BBq1P/RN1QK1NR
        w KQkq -","time_class":"blitz","rules":"chess","white":{"rating":1057,"result":"checkmated","@id":"https://api.chess.com/pub/player/chessbumper","username":"chessbumper","uuid":"3a0f26fc-1e7b-11e4-800e-000000000000"},"black":{"rating":1272,"result":"win","@id":"https://api.chess.com/pub/player/kyivpilotvlad","username":"kyivpilotvlad","uuid":"080408f4-188f-11e4-8058-000000000000"},"eco":"https://www.chess.com/openings/English-Opening-Kings-English-Variation-2.d3"},{"url":"https://www.chess.com/game/live/881220211","pgn":"[Event
        \"Live Chess\"]\n[Site \"Chess.com\"]\n[Date \"2014.08.07\"]\n[Round \"-\"]\n[White
        \"El_Vago\"]\n[Black \"chessbumper\"]\n[Result \"1-0\"]\n[CurrentPosition
        \"rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBNR b KQkq d3\"]\n[Timezone
        \"UTC\"]\n[ECO \"C00\"]\n[ECOUrl \"https://www.chess.com/openings/French-Defense-Normal-Vari[...]
